<h2>Cihaz Bilgisi Girişi</h2>
<form method="POST">
    Cihaz Adı: <input name="cihaz_adi"><br><br>
    Cihaz Kodu: <input name="cihaz_kodu"><br><br>
    Tarih: <input type="date" name="tarih"><br><br>
    Raf Kodu: <input name="raf_kodu"><br><br>
    Emniyet Stoğu: <input name="emniyet_stogu"><br><br>
    Açıklama: <textarea name="aciklama"></textarea><br><br>
    <button type="submit">QR Oluştur</button>
</form>

{% if qr_filename %}
    <h3>QR Kod:</h3>
    <img src="{{ url_for('static', filename='qrcodes/' + qr_filename) }}" width="250">
{% endif %}
